body{
    margin: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.header-text{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.header-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.title {
    display: flex;
    text-decoration:none;
    gap: 20px;

}
.title li{
    display: flex;
    text-decoration:none;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}
.title li a{
    text-decoration:none;
    color: rgb(58, 58, 58);
}

/* description and camera part  */
.first-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.first-text-sec h1{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;

}
.first-text-sec p{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    padding-bottom: 5px;
}
.first-text-sec button{
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    text-align: left;
    border: none;
}
.first-image-sec{
    background-image: url(images/Circledesign.svg);
    background-repeat: no-repeat;
}

/* Sponsor part  */
.divider-up{
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
    width: 1360px;
    height: 2px;
    margin-top: 100px;
}
.other-companies{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top:45px ;
    margin-bottom:45px ;
}
.divider-down{
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
    width: 1360px;
    height: 2px;
    margin-bottom: 100px;

}
 /* collection-part  */
 .checked {
    color: orange;
  }
  b{
    padding-left: 5px;
    color: rgb(94, 99, 102);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
  }

  .all-collection{
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

    margin-left: 15vw;
    margin-right: 15vw;

  }
  .popular{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }
  .single-collection{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item-des{
    text-align: left;
    margin-left: -100px;
  }
.colection-image{
    border-radius: 5px;
    margin-bottom: 16px;


}
.collection-header{
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 0px;


}
.collection-price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
    

}
.rating{
    margin-top: 0px;
    margin-bottom: 10px;

}
.collection-text{
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;

}
.seemore{
    position: relative;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin-right: 15vw;
    margin-top: 50px;
    margin-left: 1280px;
}
.arrow-sign{
    margin-left: 5px;
}

/* feature-part  */
.features-section{
    display: flex;
    margin-left: 250px;
    gap: 96px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.gear-image{
    border-radius: 7px;
    width: 404px;
    height: 270px;

}

.feature-head{
    color: rgb(10, 8, 38);
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 16px;
}
.feature-text{
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-right: 209px;
}
.feature-join{
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px ;
    border: none;
    margin-top: 0px;
    margin-bottom: 16px;
}

/* footer-part  */

footer{
    background: rgb(10, 8, 38);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
footer>h3{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}
footer>p{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;

}
.social{
    color: white;
    padding: 5px;
    border-radius: 50%;
    background: rgb(79, 78, 78);
    font-size: 1.3em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* For mobile device */
@media screen and (max-width:576px) {
